 <div class="container">
    <div class="row">
        <div class="col-md">
            <h1 class="logo">ToDoApp</h1>
            <h5 style="font-style:italic">"better management, more efficiency"</h5>
        </div>
    </div>
    <br/>
    <br/>
    <div class="row">
            <div class="col-md-4">
            <button type="button" class="btn btn-warning">New Task</button>
            </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-4">
            <app-todotask></app-todotask>
        </div>
        <div class="col-md-4">
            <app-task-in-progress></app-task-in-progress>
        </div>
        <div class="col-md-4">
            <app-task-completed></app-task-completed>
        </div>
    </div>
    
</div> 
